.nautilus-window,
.nautilus-window notebook,
.nautilus-window notebook > stack {
    background: @theme_base_color;
}

/* Devel window styling */
.nautilus-window.devel headerbar {
    background: #cbd2d9 -gtk-icontheme("system-run-symbolic") 70% 0/64px 64px no-repeat, linear-gradient(to top, #a5b1bd, #c5cdd5 2px, #cbd2d9 3px);
    box-shadow: inset 0 1px #f1f3f5;
    border-color: #909fae;
    color: rgba(46, 52, 54, 0.2);
}
.nautilus-window.devel headerbar > * {
    color: #2e3436;
}
.nautilus-window.devel headerbar > *:backdrop {
    color: #8b8e8f;
}
.nautilus-window.devel headerbar:backdrop {
    background-image: -gtk-icontheme("system-run-symbolic"), image(#cbd2d9);
    box-shadow: inset 0 1px #f1f3f5;
    color: rgba(139, 142, 143, 0.1);
}
.nautilus-window.devel headerbar button {
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #909fae;
    border-bottom-color: #738698;
    background-image: linear-gradient(to bottom, #cbd2d9, #bfc8d0 60%, #aeb9c3);
    text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}
.nautilus-window.devel headerbar button.flat,
.nautilus-window.devel headerbar button.titlebutton {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
}
.nautilus-window.devel headerbar button.titlebutton {
    text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923);
}
.nautilus-window.devel headerbar button:hover {
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #909fae;
    border-bottom-color: #738698;
    text-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    -gtk-icon-shadow: 0 1px rgba(255, 255, 255, 0.76923);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(to bottom, #dde1e6, #cbd2d9 60%, #bfc8d0);
}
.nautilus-window.devel headerbar button:active,
.nautilus-window.devel headerbar button:checked {
    color: #2e3436;
    outline-color: rgba(46, 52, 54, 0.3);
    border-color: #909fae;
    background-image: image(#b9c3cc);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
}
.nautilus-window.devel headerbar button:disabled {
    border-color: #909fae;
    background-image: image(#d3d9df);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
}
.nautilus-window.devel headerbar button:disabled label,
.nautilus-window.devel headerbar button:disabled {
    color: #8b8e8f;
}
.nautilus-window.devel headerbar button:backdrop {
    border-color: #cbd2d9;
    background-image: image(#cbd2d9);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    border-color: #909fae;
}
.nautilus-window.devel headerbar button:backdrop label,
.nautilus-window.devel headerbar button:backdrop {
    color: #8b8e8f;
}
.nautilus-window.devel headerbar button:backdrop:active {
    border-color: #bbc5ce;
    background-image: image(#bbc5ce);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    border-color: #909fae;
}
.nautilus-window.devel headerbar button:backdrop:active label,
.nautilus-window.devel headerbar button:backdrop:active {
        color: #8b8e8f;
}
.nautilus-window.devel headerbar button:backdrop:disabled {
    border-color: #d3d9df;
    background-image: image(#d3d9df);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    border-color: #909fae;
}
.nautilus-window.devel headerbar button:backdrop:disabled label,
.nautilus-window.devel headerbar button:backdrop:disabled {
    color: #999fa4;
}
.nautilus-window.devel headerbar button.flat:backdrop,
.nautilus-window.devel headerbar button.titlebutton:backdrop {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
}

/* End devel window styling */

.nautilus-canvas-item {
    border-radius: 5px;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
    color: mix (@theme_fg_color, @theme_bg_color, 0.50);
}

.nautilus-canvas-item.dim-label:selected,
.nautilus-list-dim-label:selected {
    color: mix (@theme_selected_fg_color, @theme_selected_bg_color, 0.20);
}

/* Toolbar */

/* Here we use the .button background-image colors from Adwaita, but ligthen them,
 * since is not possible to use lighten () in common css. */
@keyframes needs_attention_keyframes {
    0% {background-image: linear-gradient(to bottom, #fafafa, #ededed 40%,  #e0e0e0); border-color: @borders; }
    /* can't do animation-direction, so holding the color on two keyframes */
    30% {background-image: linear-gradient(to bottom, @theme_base_color, @theme_base_color, @theme_base_color); border-color: @theme_fg_color; }
    90% {background-image: linear-gradient(to bottom, @theme_base_color, @theme_base_color, @theme_base_color); border-color: @theme_fg_color; }
    100% {background-image: linear-gradient(to bottom, #fafafa, #ededed 40%,  #e0e0e0); border-color: @borders; }
}

.nautilus-operations-button-needs-attention {
  animation: needs_attention_keyframes 2s ease-in-out;
}
.nautilus-operations-button-needs-attention-multiple {
  animation: needs_attention_keyframes 3s ease-in-out;
  animation-iteration-count: 3;
}

/* Floating status bar */
.floating-bar {
  padding: 1px;
  background-color: @theme_base_color;
  border-width: 1px;
  border-style: solid solid none;
  border-color: @borders;
  border-radius: 3px 3px 0 0;
}

.floating-bar.bottom.left { /* axes left border and border radius */
  border-left-style: none;
  border-top-left-radius: 0;
}
.floating-bar.bottom.right { /* axes right border and border radius */
  border-right-style: none;
  border-top-right-radius: 0;
}

.floating-bar:backdrop {
  background-color: @theme_unfocused_base_color;
  border-color: @unfocused_borders;
}

.floating-bar button {
  padding: 0px;
}

.search-bar {
    box-shadow: none;
}

@define-color disk_space_unknown #888a85;
@define-color disk_space_used #729fcf;
@define-color disk_space_free #eeeeec;

.disk-space-display {
    border-style: solid;
    border-width: 2px;
}

.disk-space-display.unknown {
    background-color: @disk_space_unknown;
    border-color: shade(@disk_space_unknown, 0.7);
}

.disk-space-display.used {
    background-color: @disk_space_used;
    border-color: shade(@disk_space_used, 0.7);
}

.disk-space-display.free {
    background-color: @disk_space_free;
    border-color: shade(@disk_space_free, 0.7);
}

/* View */
.nautilus-list-view .view {
    border-bottom: 1px solid @theme_bg_color;
}

/* Hide superfluous treeview drop target indication */
.nautilus-list-view .view.dnd {
    border-style: none;
}

/* Workaround for the double border of the searchbar since we use a revealer which
 * always allocates at least 1 pixel */
searchbar { border-top: 1px solid @borders; }
.searchbar-container { margin-top: -1px; }

@define-color conflict_bg #fef6b6;

.conflict-row {
    background: @conflict_bg;
    color: black;
}

.conflict-row:hover {
    background-color: shade(@conflict_bg, 0.9);
}

.conflict-row:selected {
  background: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

/* Icon view */
flowboxchild:selected{background-color:transparent;}

flowboxchild > widget > box > .icon-background {background-color:black; border-color:#4a90d9; border-style:solid; border-width:0px;}
flowboxchild:selected > widget > box > .icon-background {background-color:black; border-color:#4a90d9; border-style:solid; border-width:0px;}

flowboxchild > widget > .icon-item-background {padding:4px;}
flowboxchild:selected > widget > .icon-item-background {padding:4px; background-color:#4a90d9; border-color:#4a90d9; border-style:solid; border-width:0px; border-radius:4px 4px 4px 4px;}

